html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  overflow-y:scroll;
}

.filter-multi-select > .viewbar > .selected-items > .item {
    background: blanchedalmond;
    color: black;
}
.filter-multi-select .dropdown-item .custom-checkbox:checked ~ .custom-control-label::before,
.filter-multi-select .dropdown-item
.custom-checkbox:indeterminate ~ .custom-control-label::before {
    background-color: #1973e8;
}
.placeholder{
    background-color: white;
}

.hide {
    display: none;
}

.icone-status{
    width: .5rem;
    height: .5rem;
    /*background-color: red;*/
    border-radius: 50%;
}

tr {
    vertical-align: unset;
}
.fixed-width-td{
    max-width: 7rem;
    min-width: 7rem;
    overflow-wrap: break-word;
}

i {
    cursor: pointer;
    color: #0d6efd;
}
td {
    vertical-align: top;
}


.div-avt-image {
    height: 30px;
    width: 30px;
    overflow: hidden;
    border-radius: 50%
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    vertical-align: unset;
}


.div-text-image {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.row-color {
    background-color: #f6f5f5;
}